.form__label {
    /*margin-bottom: 8px;*/
    /*display: block;*/
    display: flex;
    font-family: "Inter", Arial, sans-serif;

    font-style: normal;
    
    font-weight: 500;
    
    font-size: 16px;
    
    line-height: 20px;
}

.form__input {
    /*margin-bottom: 8px;*/
    font-family: "Inter", Arial, sans-serif;

    font-style: normal;

    font-weight: normal;

    font-size: 20px;

    line-height: 30px;


    color: #838383;
    border-radius: 4px;
    margin-top: 8px;
}

.form__fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}


.form__input, .form__button {
    box-sizing: border-box;
    padding: 10px;
    margin-bottom:32px;
    height: 60px;
    width: 385px;
}

.form__button {
    font-family: "Inter", Arial, sans-serif;

    font-style: normal;
    
    font-weight: 500;
    
    font-size: 16px;
    
    line-height: 20px;
    background-color: #2f80ed ;
    color:#ffffff ;
    border: #838383 1px solid;
    transition: opacity .2s linear;
}

.form__button:hover  {
    opacity: 70%;
}

.form__checkbox {
    border-radius:2px;
    height: 20px;
    width: 20px;
    margin-right: 12px;
}

.form__checkbox:hover {
    border-radius: 10px;
}

.form__label_type_checkbox {
    justify-content: center;
}