.page {
    margin: 0;
    padding: 0;
    min-width: 1100px;
    max-width: 1600px;
    font-family: “Inter”, arial, sans-serif;
    margin: auto;
    font-size: 16px;
    line-height: 20px;
    color: #000000 ;
    box-sizing: inherit;
}


.page__content {
    width: 100%;
}

@media screen and (min-width: 1600px) {
    .page {
        margin: auto;
    }
}