


.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: “Inter”, arial, sans-serif;
    margin: auto;
}

@media screen and (min-width: 1600px) {
    .page {
        margin: auto;
    }
}